

  <div class="list">

    
     
     <label class="item item-input item-select item-stacked-label">
       <span class="input-label"t>Exchange</span>   
       <select stacked ng-model="vm.order.exchange">
         <option>NYSE</option>
         <option>NASDAQ</option>
       </select>
     </label>
     
   
    
     
     <label class="item item-input item-select item-stacked-label">
       <span class="input-label"t>Buy_sell</span>   
       <select stacked ng-model="vm.order.buy_sell">
         <option>Buy</option>
         <option>Sell</option>
       </select>
     </label>
     
   
    
     
     <label class="item item-input item-select item-stacked-label">
       <span class="input-label"t>Order_type</span>   
       <select stacked ng-model="vm.order.order_type">
         <option>Market</option>
         <option>Limit</option>
       </select>
     </label>
     
   
    
     
     <label class="item item-input item-stacked-label">
       <span class="input-label"t>User_id</span>   
       <input type="" placeholder="Enter User_id" 
       ng-model="vm.order.user_id">
     </label>
     
   
    
     
     <label class="item item-input item-stacked-label">
       <span class="input-label"t>Security_id</span>   
       <input type="" placeholder="Enter Security_id" 
       ng-model="vm.order.security_id">
     </label>
     
   
    
     
     <label class="item item-input item-stacked-label">
       <span class="input-label"t>Ticker</span>   
       <input type="" placeholder="Enter Ticker" 
       ng-model="vm.order.ticker">
     </label>
     
   
    
     
     <label class="item item-input item-stacked-label">
       <span class="input-label"t>Quantity</span>   
       <input type="" placeholder="Enter Quantity" 
       ng-model="vm.order.quantity">
     </label>
     
   
    
     
     <label class="item item-input item-stacked-label">
       <span class="input-label"t>Price</span>   
       <input type="" placeholder="Enter Price" 
       ng-model="vm.order.price">
     </label>
     
   
   

 </div>



