

  <div class="list">

    
   <label class="item item-input item-stacked-label">
     <span class="input-label"t>Name</span>
     
     <input type="" placeholder="Enter Name" 
     ng-model="vm.marketEvent.name">
     
   </label>
    
   <label class="item item-input item-stacked-label">
     <span class="input-label"t>Event_type</span>
     
     <input type="" placeholder="Enter Event_type" 
     ng-model="vm.marketEvent.event_type">
     
   </label>
    
   <label class="item item-input item-stacked-label">
     <span class="input-label"t>Summary</span>
     
     <input type="" placeholder="Enter Summary" 
     ng-model="vm.marketEvent.summary">
     
   </label>
    
   <label class="item item-input item-stacked-label">
     <span class="input-label"t>Description</span>
     
     <input type="" placeholder="Enter Description" 
     ng-model="vm.marketEvent.description">
     
   </label>
    
   <label class="item item-input item-select item-stacked-label">
     <span class="input-label"t>Direction</span>
     
     <select stacked ng-model="vm.marketEvent.direction">
       <option>Up</option>
       <option>Down</option>
     </select>
     
   </label>
    
   <label class="item item-input item-select item-stacked-label">
     <span class="input-label"t>Intensity</span>
     
     <select stacked ng-model="vm.marketEvent.intensity">
       <option>High</option>
       <option>Medium</option>
       <option>Low</option>
     </select>
     
   </label>
    
   <label class="item item-input item-select item-stacked-label">
     <span class="input-label">Region</span>
     <select stacked ng-model="vm.marketEvent.region">
       <option>US</option>
       <option>EMEA</option>
       <option>APAC</option>
     </select>
   </label>

   <label class="item item-input item-select item-stacked-label">
     <span class="input-label">Asset Class</span>
     <select stacked ng-model="vm.marketEvent.asset_class">
       <option>Stock</option>
       <option>Bond</option>
       <option>Derivative</option>
     </select>
   </label>

   <label class="item item-input item-select item-stacked-label">
     <span class="input-label">Sector</span>
     <select stacked ng-model="vm.marketEvent.sector">
       <option>Technology</option>
       <option>Auto</option>
       <option>Manufacturing</option>
       <option>Construction</option>
       <option>Pharma</option>
       <option>Finance</option>
     </select>
   </label>

    
   <label class="item item-input item-stacked-label">
     <span class="input-label"t>Ticker</span>
     
     <input type="" placeholder="Enter Ticker" 
     ng-model="vm.marketEvent.ticker">
     
   </label>
    
   <label class="item item-input item-stacked-label">
     <span class="input-label"t>Externl_url</span>
     
     <input type="" placeholder="Enter Externl_url" 
     ng-model="vm.marketEvent.externl_url">
     
   </label>
   

 </div>



