<ion-view title="Securities">
  <ion-content class="has-subheader">
    <form data-ng-submit="vm.create()" novalidate>

      <div class="list">
       <label class="item item-input item-stacked-label">
       <span class="input-label"t>Name</span>
         <input type="text" placeholder="Name" model="vm.security.name">
       </label>

       <label class="item item-input item-stacked-label">
         <span class="input-label">Ticker</span>
         <input type="text" placeholder="Ticker" model="vm.security.ticker">
       </label>
     </div>

   </form>

 </ion-content>
</ion-view>
